.rating {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  color: var(--accent);
  font-size: 13px;
  font-weight: 500;
}

.rating svg {
  stroke-width: 2px;
}

.rating b {
  margin-left: 5px;
  color: var(--muted);
  font-weight: 600;
  font-size: 13px;
}
